

.filterSlider {
    border: 2px solid #258805;
    background-color: #8cbc13;
}

.filterToggle input:checked + .filterSlider {
    border: 2px solid #b92121;
    background-color: #5a4141;
}

.filteredCounts {
    padding-top: 10px;
    font-size: xxx-large;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: -4px;
    line-height: 1.15;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}